.screen {
 background-color: #ffffff;
 display: flex;
 flex-direction: row;
 justify-content: center;
 width: 100%;
}
.screen .div {
 background-color: #ffffff;
 overflow: hidden;
 width: 1440px;
 height: 1024px;
 position: relative;
}
.screen .overlap-group {
 position: absolute;
 width: 417px;
 height: 1035px;
 top: 0;
 left: 0;
 background-color: #d9d9d9;
}
.screen .overlap {
 position: absolute;
 width: 373px;
 height: 46px;
 top: 371px;
 left: 22px;
 background-color: #a1a404;
 border: 1px solid;
 border-color: #000000;
}
.screen .text-wrapper {
 top: 6px;
 left: 129px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .div-wrapper {
 position: absolute;
 width: 373px;
 height: 46px;
 top: 293px;
 left: 22px;
 background-color: #999999;
 border: 1px solid;
 border-color: #000000;
}
.screen .text-wrapper-2 {
 top: 7px;
 left: 129px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .overlap-2 {
 position: absolute;
 width: 373px;
 height: 46px;
 top: 215px;
 left: 22px;
 background-color: #999999;
 border: 1px solid;
 border-color: #000000;
}
.screen .text-wrapper-3 {
 top: 7px;
 left: 153px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .overlap-3 {
 position: absolute;
 width: 268px;
 height: 53px;
 top: 942px;
 left: 82px;
 background-color: #999999;
 border: 1px solid;
 border-color: #000000;
}
.screen .text-wrapper-4 {
 top: 10px;
 left: 95px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .overlap-4 {
 position: absolute;
 width: 373px;
 height: 105px;
 top: 30px;
 left: 22px;
 background-color: #999999;
}
.screen .text-wrapper-5 {
 position: absolute;
 top: 27px;
 left: 35px;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 40px;
 letter-spacing: 0;
 line-height: normal;
 white-space: nowrap;
}
.screen .text-wrapper-6 {
 position: absolute;
 width: 776px;
 top: 154px;
 left: 565px;
 -webkit-text-stroke: 1px #000000;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #faff06;
 font-size: 100px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .overlap-5 {
 position: absolute;
 width: 908px;
 height: 645px;
 top: 293px;
 left: 500px;
 background-color: #d9d9d9;
}
.screen .overlap-6 {
 position: absolute;
 width: 846px;
 height: 129px;
 top: 219px;
 left: 31px;
}
.screen .text-wrapper-7 {
 top: 42px;
 left: 284px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .rectangle {
 position: absolute;
 width: 846px;
 height: 129px;
 top: 0;
 left: 0;
 background-color: #999999;
}
.screen .img {
 position: absolute;
 width: 87px;
 height: 92px;
 top: 18px;
 left: 724px;
 object-fit: cover;
}
.screen .rectangle-2 {
 position: absolute;
 width: 612px;
 height: 92px;
 top: 12px;
 left: 35px;
}
.screen .text-wrapper-8 {
 top: 42px;
 left: 522px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .text-wrapper-9 {
 top: 40px;
 left: 94px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .overlap-7 {
 position: absolute;
 width: 846px;
 height: 129px;
 top: 46px;
 left: 31px;
}
.screen .text-wrapper-10 {
 top: 49px;
 left: 96px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .rectangle-3 {
 position: absolute;
 width: 612px;
 height: 92px;
 top: 16px;
 left: 35px;
}
.screen .text-wrapper-11 {
 top: 46px;
 left: 522px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .text-wrapper-12 {
 top: 46px;
 left: 284px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
 }
 .screen .rectangle-4 {
 position: absolute;
 width: 87px;
 height: 92px;
 top: 16px;
 left: 724px;
 object-fit: cover;
}
.screen .overlap-8 {
 position: absolute;
 width: 846px;
 height: 129px;
 top: 392px;
 left: 31px;
 background-color: #999999;
}
.screen .rectangle-5 {
 position: absolute;
 width: 87px;
 height: 92px;
 top: 19px;
 left: 724px;
 object-fit: cover;
}
.screen .overlap-9 {
 position: absolute;
 width: 612px;
 height: 92px;
 top: 19px;
 left: 35px;
 background-image: url(./img/rectangle-28.svg);
 background-size: 100% 100%;
}
.screen .text-wrapper-13 {
 top: 30px;
 left: 52px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .text-wrapper-14 {
 top: 30px;
 left: 265px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
.screen .text-wrapper-15 {
 top: 30px;
 left: 487px;
 position: absolute;
 font-family: "Inter-Regular", Helvetica;
 font-weight: 400;
 color: #000000;
 font-size: 24px;
 letter-spacing: 0;
 line-height: normal;
}
