<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper">Пароль</div></div>
          <div class="div-wrapper"><div class="text-wrapper-2">Подтверждение пароля</div></div>
          <div class="overlap-2"><div class="text-wrapper-3">Адрес электронной почты</div></div>
          <div class="overlap-3"><div class="text-wrapper-4">Имя пользователя</div></div>
          <div class="overlap-4"><div class="text-wrapper-5">О нас</div></div>
          <div class="overlap-5"><div class="text-wrapper-6">Регистрация</div></div>
          <div class="overlap-6"><div class="text-wrapper-7">Авторизация</div></div>
          <div class="overlap-7"><div class="text-wrapper-8">ParkSpot Finder</div></div>
        </div>
        <img class="avto-camaro" src="../avto_camaro 1.png" />
        <div class="text-wrapper-9">ParkSpot Finder</div>
      </div>
    </div>
  </body>
</html>

