{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"  href="{% static 'css/historyres.css' %}" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper"><a class="auth"  href={% url 'user_history' pk%}>История бронирования</a></div></div>
          <div class="div-wrapper"><div class="text-wrapper-2"><a class="auth"  href={% url 'user_create' pk%}>Создать бронирование</a></div></div>
          <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
        </div>
        <div class="text-wrapper-6">ParkSpot Finder</div>
        <div class="overlap-5">
          {% for i in orders%}
          <div class="overlap-6">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <a class="auth"  href={% url 'user_history_delete' pk i%}><img class="img" src="{% static 'img/Rectangle 24.png' %}" /></a>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-7"><a class="auth"  href={% url 'user_history_details' pk i%}>Информация о бронировании</a></div>
            <div class="rectangle-4"></div>
            <div class="text-wrapper-8">Заказ {{i}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>

