{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/createres.css' %}" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          {% if error %}
            <div class="error">{{ error }}</div>
          {% endif %}
          <div class="overlap"><div class="text-wrapper"><a class="auth"  href={% url 'user_history' pk%}>История бронирования</a></div></div>
          <div class="div-wrapper"><div class="text-wrapper-2"><a class="auth"  href={% url 'user_create' pk%}>Создать бронирование</a></div></div>
          <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
        </div>
        <div class="text-wrapper-6">ParkSpot Finder</div>
        <form action="{% url 'user_create' pk%}" method="post">
          {% csrf_token %}
          <div class="overlap-5">
              <div class="overlap-6">
                  <input type="text" id="duration" name="duration" placeholder="Продолжительность">
              </div>
              <div class="overlap-7">
                  <input type="text" id="location" name="location" placeholder="Местоположение">
              </div>
              <div class="overlap-8">
                  <input type="text" id="time" name="time" placeholder="Время">
              </div>
              <div class="overlap-9">
                  <input type="text" id="date" name="date" placeholder="Дата">
              </div>
              <div class="overlap-10">
                  <input type="submit" value="Оплатить">
              </div>
          </div>
      </form>
      
      </div>
    </div>
  </body>
</html>

