<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper">История бронирования</div></div>
          <div class="div-wrapper"><div class="text-wrapper-2">Создать бронирование</div></div>
          <div class="overlap-2"><div class="text-wrapper-3">О нас</div></div>
          <div class="overlap-3"><div class="text-wrapper-4">Выйти</div></div>
          <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
        </div>
        <div class="text-wrapper-6">ParkSpot Finder</div>
        <div class="overlap-5">
          <div class="overlap-6">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <img class="img" src="img/rectangle-23.png" />
            <div class="rectangle-3"></div>
            <div class="text-wrapper-7">Информация о бронировании</div>
            <div class="rectangle-4"></div>
            <div class="text-wrapper-8">Заказ 1</div>
          </div>
          <div class="overlap-7">
            <div class="overlap-8"><div class="text-wrapper-9">Заказ 2</div></div>
            <div class="overlap-9"><div class="text-wrapper-10">Информация о бронировании</div></div>
            <img class="rectangle-5" src="img/rectangle-28.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

