{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/user_main.css' %}" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper">История бронирования</div></div>
          <div class="div-wrapper"><div class="text-wrapper-2">Создать бронирование</div></div>
          <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
        </div>
        <img class="avto-camaro" src="{% static 'img/avto_camaro_1.png' %}"  />
        <div class="text-wrapper-6">ParkSpot Finder</div>
      </div>
    </div>
  </body>
</html>

