<!DOCTYPE html>
<html>
 <head>
 <link rel="stylesheet" href="globals.css" />
 <link rel="stylesheet" href="style.css" />
 </head>
 <body>
 <div class="screen">
 <div class="div">
 <div class="overlap-group">
 <div class="overlap"><div class="text-wrapper">Просмотр</div></div>
 <div class="div-wrapper"><div class="text-wrapper-2">Добавить</div></div>
 <div class="overlap-2"><div class="text-wrapper-3">О нас</div></div>
 <div class="overlap-3"><div class="text-wrapper-4">Выйти</div></div>
 <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
 </div>
 <div class="text-wrapper-6">ParkSpot Finder</div>
 <div class="overlap-5">
 <div class="overlap-6"><div class="text-wrapper-7">Время</div></div>
 <div class="overlap-7"><div class="text-wrapper-7">Дата</div></div>
 <div class="overlap-8"><div class="text-wrapper-8">Местоположение</div></div>
 <div class="overlap-9"><div class="text-wrapper-9">Сохранить</div></div>
 <div class="overlap-10"><div class="text-wrapper-10">Парковочное место 1</div></d
 </div>
 </div>
 </div>
 </body>
</html>
