<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper">О нас</div></div>
          <div class="div-wrapper"><div class="text-wrapper-2">Регистрация</div></div>
          <div class="overlap-2"><div class="text-wrapper-3">Авторизация</div></div>
          <div class="overlap-3"><div class="text-wrapper-4">ParkSpot Finder</div></div>
        </div>
        <div class="overlap-4">
          <p class="p">
            Мы - приложение для бронирования парковочных мест. <br />Наша цель - облегчить вашу жизнь при поиске
            парковки. Мы предлагаем удобный способ найти и забронировать место заранее. Присоединяйтесь к нам уже
            сегодня и наслаждайтесь удобством нашего сервиса!
          </p>
          <img class="avto-camaro" src="../avto_camaro 1.png" />
        </div>
        <div class="text-wrapper-5">ParkSpot Finder</div>
        <div class="text-wrapper-6">Связаться с нами:</div>
        <div class="text-wrapper-7">+375445555555</div>
        <div class="text-wrapper-8">+375295555555</div>
        <div class="text-wrapper-9">parksport@gmail.com</div>
      </div>
    </div>
  </body>
</html>

