<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="overlap"><div class="text-wrapper">Просмотр</div></div>
          <div class="div-wrapper"><div class="text-wrapper-2">Добавить</div></div>
          <div class="overlap-2"><div class="text-wrapper-3">О нас</div></div>
          <div class="overlap-3"><div class="text-wrapper-4">Выйти</div></div>
          <div class="overlap-4"><div class="text-wrapper-5">ParkSpot Finder</div></div>
        </div>
        <img class="avto-camaro" src="../avto_camaro 1.png" />
        <div class="text-wrapper-6">ParkSpot Finder</div>
      </div>
    </div>
  </body>
</html>

