{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          {% if error %}
            <div class="error">{{ error }}</div>
          {% endif %}
          <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
              <input class="overlap-3" type="text" id="username" name="username" placeholder="Имя пользователя">
              <input class="overlap" type="password" id="password" name="password" placeholder="Пароль">
              <input class="div-wrapper" type="password" id="password2" name="password2" placeholder="Подтверждение пароля">
              <input class="overlap-5" type="submit" value="Регистрация">
          </form>
          <div class="overlap-6"><div class="text-wrapper-7"><a class="auth" href='/login/'>Авторизация</a></div></div>
          <div class="overlap-7"><div class="text-wrapper-8">ParkSpot Finder</div></div>
        </div>
        <img class="avto-camaro" src="{% static 'img/avto_camaro_1.png' %}" />
        <div class="text-wrapper-9">ParkSpot Finder</div>
      </div>
    </div>
  </body>
</html>

