{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="overlap-group">
          <div class="div-wrapper"><div class="text-wrapper-2"><a class="auth" href='/register/'>Регистрация</a></div></div>
          <div class="overlap-2"><div class="text-wrapper-3"><a class="auth" href='/login/'>Авторизация</a></div></div>
          <div class="overlap-3"><div class="text-wrapper-4">ParkSpot Finder</div></div>
        </div>
        <img class="avto-camaro" src="{% static 'img/avto_camaro_1.png' %}" />
        <div class="text-wrapper-5">ParkSpot Finder</div>
      </div>
    </div>
  </body>
</html>

